* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--white: hsl(0, 0%, 100%);
	--light-gray: hsl(212, 45%, 89%);
	--grayish-blue: hsl(220, 15%, 55%);
	--dark-blue: hsl(218, 44%, 22%);
}

body {
	height: 100vh;
	background-color: var(--light-gray);
	font-family: 'Outfit', sans-serif;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.qr-box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 200px;
	height: 360px;
	border-radius: 12px;
	background-color: var(--white);
	box-shadow: 4px 4px 5px #919191;
}

.qr-img {
	position: relative;
	top: 10px;
	left: 10px;
	width: 180px;
	height: 180px;
	background-image: url('../images/image-qr-code.png');
	background-position: center;
	background-size: cover;
	border-radius: 12px;
}

.qr-text {
	position: relative;
	top: 10px;
	text-align: center;
}

.text-top {
	padding: 20px 15px;
	font-size: 15px;
	font-weight: bold;
}

.text-bottom {
	padding: 0px 15px;
	font-size: 13px;
	color: var(--grayish-blue);
}

.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

@media (min-width: 375px) {
	.qr-box {
		width: 300px;
		height: 455px;
		border-radius: 12px;
	}

	.qr-img {
		top: 15px;
		left: 15px;
		width: 270px;
		height: 270px;
		border-radius: 12px;
	}

	.text-top {
		padding: 20px 20px;
		font-size: 20px;
	}

	.text-bottom {
		padding: 0px 20px;
		font-size: 15px;
	}
}

@media (min-width: 1440px) {
	.qr-box {
		width: 350px;
		height: 520px;
		border-radius: 15px;
	}

	.qr-img {
		top: 15px;
		left: 15px;
		width: 320px;
		height: 320px;
		border-radius: 15px;
	}

	.qr-text {
		top: 17px;
	}

	.text-top {
		padding: 20px 35px;
		font-size: 22px;
	}

	.text-bottom {
		padding: 0px 35px;
		font-size: 17px;
	}
}
